<h2>New Celebrity</h2>
<form action="/celebrities/create" method="POST">
  <input type="text" id="name" name="name" placeholder="Name"/>
  <input type="text" id="occupation" name="occupation" placeholder="Occupation"/>
  <input type="text" id="catchphrase" name="catchphrase" placeholder="Catchphrase"/>
  <input type="submit" value="Store celebrity">
</form>